# Copy this file to staging.tfvars or prod.tfvars and fill in values
environment          = "staging"
aws_region           = "eu-central-1"
db_instance_class    = "db.t4g.medium"
api_desired_count    = 1
worker_desired_count = 1
api_image            = "ACCOUNT_ID.dkr.ecr.eu-central-1.amazonaws.com/amp-api:latest"
worker_image         = "ACCOUNT_ID.dkr.ecr.eu-central-1.amazonaws.com/amp-worker:latest"
